/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
    background-color: #fff;
    color: #222222;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family:"Helvetica Neue", Helvetica, Arial;
    border-top: 3px solid #137795;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #2ba6cb;
}

a:hover {
  color: black;
}

a:visited {
  color: #137795;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  max-width:40em;
}

/*****************************************************************************/
/*
/* Core Mods
/*
/*****************************************************************************/


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-top:1.5em;
  margin-bottom:1em;
  color: #000000;
  /*font-family: "timkeller-custom", Elena, Georgia, serif;*/
  font-family:"Helvetica Neue", Helvetica, Arial;
}

article h2 {
  border-bottom:2px solid #eee;
}

table{max-width:100%;border-collapse:collapse;border-spacing:0;background-color:transparent;}
.table{width:100%;margin-bottom:18px;}.table th,.table td{padding:8px;line-height:18px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;}
.table th{font-weight:bold;}
.table thead th{vertical-align:bottom;}
.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0;}
.table tbody+tbody{border-top:2px solid #dddddd;}
.table-condensed th,.table-condensed td{padding:4px 5px;}
.table-bordered{border:1px solid #dddddd;border-left:0;border-collapse:separate;*border-collapse:collapsed;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.table-bordered th,.table-bordered td{border-left:1px solid #dddddd;}
.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0;border-radius:4px 0 0 0;}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0;border-radius:0 4px 0 0;}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child{-webkit-border-radius:0 0 4px 0;-moz-border-radius:0 0 4px 0;border-radius:0 0 4px 0;}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9;}
.table tbody tr:hover td,.table tbody tr:hover th{background-color:#f5f5f5;}
table .span1{float:none;width:44px;margin-left:0;}
table .span2{float:none;width:124px;margin-left:0;}
table .span3{float:none;width:204px;margin-left:0;}
table .span4{float:none;width:284px;margin-left:0;}
table .span5{float:none;width:364px;margin-left:0;}
table .span6{float:none;width:444px;margin-left:0;}
table .span7{float:none;width:524px;margin-left:0;}
table .span8{float:none;width:604px;margin-left:0;}
table .span9{float:none;width:684px;margin-left:0;}
table .span10{float:none;width:764px;margin-left:0;}
table .span11{float:none;width:844px;margin-left:0;}
table .span12{float:none;width:924px;margin-left:0;}
table .span13{float:none;width:1004px;margin-left:0;}
table .span14{float:none;width:1084px;margin-left:0;}
table .span15{float:none;width:1164px;margin-left:0;}
table .span16{float:none;width:1244px;margin-left:0;}
table .span17{float:none;width:1324px;margin-left:0;}
table .span18{float:none;width:1404px;margin-left:0;}
table .span19{float:none;width:1484px;margin-left:0;}
table .span20{float:none;width:1564px;margin-left:0;}
table .span21{float:none;width:1644px;margin-left:0;}
table .span22{float:none;width:1724px;margin-left:0;}
table .span23{float:none;width:1804px;margin-left:0;}
table .span24{float:none;width:1884px;margin-left:0;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



.site {
  /*font-size: 110%;*/
  width: 620px;
  margin: 0 auto;
  line-height: 1.5em;
}

header.global {
    background: #2ba6cb;
}

#sitename {
  position:relative;
  top:1px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size:160%;
}

.title {
  color: #eee;
  font-weight: bold;
  width: 620px;
  margin: 0 auto;
  padding: 1.5em 0 2em 0;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma;
}

  .global .title a {
    color: #fff;
    text-decoration: none;
    text-shadow:0 1px 0px rgba(0,0,0,0.1);
  }

  .global .title a:hover {
    color: #137795;
  }

  .global .title a.extra {
    color: #eee;
    text-decoration: none;
    margin-left: 1em;
    font-weight:normal;
  }

  .global  .title a:hover {
    color: #fff;
    border-bottom: 2px solid #137795;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
  }

    .site .footer .contact {
      float: left;
    }

      .site .footer .contact a {
        color: #137795;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

.pagination {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 25px;
  margin-top:30px;
}

.pagination a {
  color: #137795;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* Posts */

article {
    display: block;
    line-height: 25px;
    margin-top: 3em;
}

article header { color: #888; margin:0;}
article header p { margin: 0; }
article header a { text-decoration: none; }

/* Link posts */

article.link header h1 a,
article.link header h1 a:active,
article.link header h1 a:visited { 
    color: #137795;
    text-decoration: underline; 
}


  /* standard */

  article pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  article ul,
  article ol {
    margin-left: 1.35em;
  }

  article code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    article pre code {
      border: none;
    }

  /* terminal */

  article pre {
    border: 1px solid black;
    background-color: #333;
    color: white;
    margin-bottom:1em;
  }

  article pre code {
    background-color: #333;
  }

article h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.25;
}

article h1 a,
article h1 a:active,
article h1 a:visited {
    color: #000;
    text-decoration: none;
}

article.page header {
  border-bottom:2px solid #ddd;
  margin-top:1em;
  margin-bottom:1em;
}

article.page h1 {
  margin-top:1em;
}

blockquote { 
    margin: 0 18px 18px 18px;
    color:#666;
    padding-left:10px;
    border-left:4px solid #eee;
}

.linkarrow {
    color: #aaa;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

.fin {
  text-align: center;
  font-size: 1.5em;
  color: #e0e0e0;
  margin-top: 2em;
}

.archives h2 {
  border-bottom:1px solid #ddd;
  margin-bottom: 0.5em;
}

.archives li span {
  font-family: Monaco, monospace, Courier;
  font-size:80%;
  color:#999;
}

ul.archives {
  list-style-type: none;
  margin:0;
  padding:0;
}

img.polaroid {
    border:8px solid white;
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}



/*!
 * Responsive
 */


/* 240-pixel layout for iPhone-sized screens */
@media (max-width: 520px) {
    article { width: 300px; }

    .global {
        width: 100%;
    }

    .global h1 {
      padding-top: 0.25em;
      font-size: 1.5em;
    }
  
    body {
        font-size: 15px;
    }
    
    .global {
        height: 155px;
        margin-bottom: -155px;
    }
    
    .title {
        height: 155px;
    }
}


