---
layout: default
title: Posts
---
<div class="post">

<article class="page">
	<header>
	  <h1 class="pageheader">Archives</h1>
	 </header>

   <p><i>Best of me:</i> I really like <a href="/tag/bestof">these posts</a>.</p>

<ul class="postlist">
  {% for post in site.posts %}
    {% unless post.draft %}
    {% unless post.next %}
      <h2 class="dateline">{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="dateline">{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}

    <li><a href="{{ post.url }}">{{ post.title }}</a>{% if post.link %} [ <a href="{{ post.link }}" target="_blank">Link</a> ]{% endif %}</li>
  {% endunless %}
  {% endfor %}
</ul>
</article>

</div>