---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}

<div class="article">
    {% if post.link %}
    <h2 class="title"><a href="{{ post.link }}" class="link" target="_blank">{{ post.title }}</a><span class="linkarrow"> →</span></h2>
    {% else %}
    <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}

    <p class="meta">
        {% if post.link or post.flickr_set_url %}
        {% else %}
        <iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0" style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;" src="http://www.instapaper.com/e2?url={{ post.url | uri_escape }}&amp;title={{ post.title | uri_escape }}"></iframe>&nbsp;
        {% endif %}

        <time datetime="{{ post.date | date_to_xmlschema }}" pubdate="pubdate">{{ post.date | date_to_long_string }}</time> &middot; <a class="permalink" title="Permalink" href="{{ post.url }}">Permalink</a>{% if post.flickr_set_url %} &middot; <a href="{{ post.flickr_set_url }}">Flickr Set</a>{% endif %}
    </p>

    <div id="{% if post.layout == 'gallery' %}gallery{% else %}post{% endif %}">
    {{ post.content }}
    </div>
</div>

{% endfor %}

<!-- Pagination links -->


<div id="post-pagination" class="pagination">
    <ul class="pages">

    {% if paginator.previous_page %}
        <li class="page">
            {% if paginator.previous_page == 1 %}
                <a href="/">Previous</a>
            {% else %}
                <a href="{{ site.url }}/{{ paginator.previous_page_path }}">Previous</a>
            {% endif %}
        </li>
    {% else %}
        <li class="page">
            <span>Previous</span>
        </li>
    {% endif %}

    {% if paginator.page == 1 %}
        <li class="page"><span class="current-page">1</span></li>
    {% else %}
        <li class="page"><a href="/">1</a></li>
    {% endif %}
   
    {% if paginator.page > 4 %}
    <li class="dotdotdot">
        ...
    </li>
    {% endif %}

    {% if paginator.page > 3 %}
    <li class="page">
        <a href="/page{{ paginator.page | minus:2 }}">{{ paginator.page | minus:2 }}</a>
    </li>
    {% endif %}

    {% if paginator.page > 2 %}
    <li class="page">
        <a href="/page{{ paginator.page | minus:1 }}">{{ paginator.page | minus:1 }}</a>
    </li>
    {% endif %}

    {% if paginator.page != 1 %}
    <li class="page">
        <span class="current-page">{{ paginator.page }}</span>
    </li>
    {% endif %}

    <li class="page">
        <a href="/page{{ paginator.page | plus:1 }}">{{ paginator.page | plus:1 }}</a>
    </li>

    <li class="page">
        <a href="/page{{ paginator.page | plus:2 }}">{{ paginator.page | plus:2 }}</a>
    </li>
  
    <li class="dotdotdot">
        ...
    </li>


  {% if paginator.next_page %}
    <li class="page">
      <a href="{{ site.url }}/{{ paginator.next_page_path }}">Next</a>
    </li>
  {% else %}
    <li class="page">
      <span>Next</span>
    </li>
  {% endif %}
  </ul>

</div>