<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <a href="/" class="navbar-brand">Tim Keller</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/speaking">Speaking</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>

          <li><a href="/archives">Archive</a></li>
          <li><a href="/search">Search</a></li>

      </ul>
    </div>
  </div>
</div>
