<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <title>{{ page.title }}</title>

    <meta name="author" content="Tim Keller" />
    <meta name="description" content="Tim Keller is an entrepreneur, software developer, and speaker from Cape Town, South Africa." />

    <link href="http://timkeller.me/feed/" rel="alternate" title="Tim Keller" type="application/atom+xml" />

    <link rel="stylesheet" href="/css/style-three.css?4" type="text/css" />
    <script src="/js/application.js?1"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var analyticsFileTypes = [''];
      var analyticsEventTracking = 'enabled';
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10149216-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Analytics end -->
  </head>
  <body>

    <header id="page-header">
        <div id="site-title">
            <a href="/"><img src="/img/tim-round.png" class="img-circle" id="logo">
            <h1>Tim Keller</h1>
            <h2>Technology and the Future of Learning</h2></a>

            <nav id="site-nav">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/speaking">Speaking</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>

        <li><a href="/archives">Archive</a></li>
        <li><a href="/search">Search</a></li>
      
      </ul>
  </nav>
        </div>

        

  </header> 
<hr class="between">
    <div class="main-content">

      {{ content }}
    
    </div>

    <hr class="between">

    {% if page.slug != 'about' %}
    <section id="about">
    <h3>About the author</h3>
    <p>{% include about-short.markdown %} <a href="/about">More...</a></p> 
    </section>
    {% endif %}

      <footer id="page-footer">
  <nav>
  <ul id="footer-nav">
  <li><a href="/contact">Contact</a></li>
  <li><a href="http://twitter.com/timkeller">Twitter</a></li>
  <li><a href='https://alpha.app.net/timkeller' rel='me'>App.net</a></li>
  <li><a href="http://www.linkedin.com/in/timkeller">LinkedIn</a></li>
  </ul>
  </nav>
  <div id="copyright">
  <a href="/versions">Copyright © 2005 - 2013 Tim Keller</a>
  </div>
  </footer>

  </body>
</html>