<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Tim Keller</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <a href="/" id="gohome"></a>
        <div class="container">
          <div class="site">
     
            <div class="canvas">
                <div class="content">
                    {{ content }}
                </div>

                <div class="side">
                    <a href="/"><img src="//timkeller.me/img/tim-round.png" id="logo"></a>
                    <h5 class="title"><a href="/" class="nocolor">{{ site.name }}</a></h5>
                    <a class="extra" href="/about">About</a><br>
                    <a class="extra" href="/speaking">Speaking</a><br>
                    <a class="extra" href="/projects">Projects</a><br>
                    <a class="extra" href="/archives">Archives</a><br>
                    <a class="extra" href="/contact">Contact</a><br>

                    <h5>Subscribe</h5>
                    <a href="http://twitter.com/timkeller">Follow Tim <strong>on Twitter</strong></a><br>
                    <a href="http://flickr.com/photos/timokeller">Follow Tim <strong>on Flickr</strong></a><br>
                    <a href="http://timkeller.tumblr.com/">Follow Tim <strong>on Tumblr</strong></a><br>
                    <a href="/rss">Subscribe to the <strong>RSS Feed</strong></a><br>

                    <h5>Advertisement</h5>
                </div>
            </div>
          

          <div class="footer">
          </div>
          </div>
          
        </div> <!-- /container -->
    </body>
</html>
