---
layout: default
---

<h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>

<p class="meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" pubdate="pubdate">{{ page.date | date_to_long_string }}</time> &middot; <a class="permalink" title="Permalink" href="{{ page.url }}">Permalink</a>{% if page.link %} &middot; This post is a link. <a href="{{ page.link }}">Read the full story</a>{% endif %}
</p>

<div id="post">
    {{ content }}
</div>

<div id="page-navigation"> 
        <div class="clear">&nbsp;</div> 
        <div class="left"> 
        {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: 
{{page.previous.title}}"><b>Previous:</b> {{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="next Post: 
{{page.next.title}}"><b>Next:</b> {{page.next.title}}</a> 
        {% endif %} 
        </div> 
        <div class="clear">&nbsp;</div> 
</div> 